.comment {
  background: #cee2ff;
  padding: 0.5em 1em;
  margin-bottom: 1em; /* space between comments */
  transition: box-shadow 0.1s ease-in;
  border: 1px solid #0056b3;
  margin-left: auto;
  margin-right: auto;
}

.comment-metadata {
  display: flex;
  margin-bottom: -1.0em;
  align-items: center;
}

.comment-created-time {
  margin-left: auto;
  font-style: italic;
}

.comment-author {
  font-weight: bold;
  margin-left: 10px;
}

.comments-container {
  margin-top: 1em;
  padding: 0;
  list-style: none; /* if comments are in a list */
}


