.subreddit-card {
  padding-right: var(--spacing-2);
  background-color: orange;
}

.subreddit-card h2 {
  text-align: center;
  margin-top: 0.5em;
  color: var(--color-text-header);
  font-size: 2em;
}

.subreddit-card button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-text-body);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-2);
  border-radius: var(--radius);
}

.selected-subreddit button {
  color: var(--color-branding) !important;
}

.selected-subreddit {
  border-left: 5px solid var(--color-branding);
  background: var(--color-branding-transparent);
}

.subreddit-card button:hover {
  background: var(--color-on-hover);
}

.subreddits-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-gap: 10px;
  background-color: orange;
}

.subreddit-icon {
  background-color: #ecebeb;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 0.5em;
}
